<style>
  .content {
    width: 466px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #06c;
    border-radius: 8px;
    padding: 0 16px;
    color: #24292f;
    font-family: Arial, Helvetica, sans-serif;
  }

  .footer__text {
    text-align: center;
    color: grey;
  }
</style>

<div class='content'>
  <p>Здравствуйте.</p>

  <p>Вы запросили восстановление пароля для вашей учетной записи.</p>

  <p>Ваш логин: <b>{{ dp_login }}</b></p>

  <p>Ваш новый пароль: <b>{{ dp_password }}</b></p>

  <p>Мы рекомендуем вам сменить пароль после входа в свой аккаунт.</p>
</div>

<p class="footer__text">Восстановление пароля</p>

<p class="footer__text">{{dp_org}}</p>